.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 75px;
    width: 75px;
    background-color: gainsboro;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}